TTT_DB_USERNAME=your_db_username
TTT_DB_PASSWORD=your_db_password
TTT_GOOGLE_CLIENT_ID=your_google_client_id
TTT_GOOGLE_CLIENT_SECRET=your_google_client_secret
TTT_JWT_SECRET=your_jwt_secret_key_needs_to_be_long_enough
TTT_OAUTH2_REDIRECT_URI=http://localhost:3000/oauth2/redirect
TTT_BLOOM_FILTER_EXPECTED_ELEMENTS=100000
TTT_BLOOM_FILTER_FALSE_POSITIVE_RATE=0.01

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
